<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <label for="dashUrl">URL:</label>
            <div class="form-group has-feedback">
                <input id="dashUrl" type="text" style="width:100%" [(ngModel)]="newUrl" (keyup.enter)="addUrl(newUrl)"
                       class="form-control ng-tns-c0-0 ui-inputtext ui-widget ui-state-default ui-corner-all">
                <span *ngIf="newUrl" (click)="clearUrl()" uib-tooltip="clear"
                      class="glyphicon glyphicon-remove form-control-feedback"
                      style="cursor: pointer; pointer-events: all;"></span>
            </div>
            <button type="button" class="btn btn-info" (click)="addUrl(newUrl)">
                Add Dashboard
            </button>
            <br /><br />
            <div *ngIf="urlRequired" class="alert alert-danger">
                Unable to add empty URL
            </div>
        </div>
        <div class="col-sm-8">
            <div class='wrapper'>
                <div *ngIf="urls.length > 0;else no_urls" class="panel-group" [dragula]='"first-bag"' [dragulaModel]='urls'>
                    <div class="panel panel-default" *ngFor="let url of urls; let i = index">
                        <div class="panel-heading">
                            <h4 class="panel-title handle">
                                <a class="accordion-toggle" data-toggle="collapse" href="#details-{{i}}">
                                    {{url}}
                                </a>
                                <button style="background-color: Transparent;float:right" (click)="removeUrl(panel)">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </h4>
                        </div>
                        <div id="details-{{i}}" class="panel-collapse collapse in">
                            <div class="panel-body" style="height:336px">
                                <iframe class="dashboard" [src]="url | safe" [height]="300"
                                        width="100%" style="resize:vertical"></iframe>
                                <div class="blank" style="display:none; position:relative; top:-300px; width:100%; height:300px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #no_urls>No dashboards saved to profile</ng-template>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>