<div>
    <div *ngIf="resultsLoading" style="text-align: center"><br /><br /><i class="dell-loading-image"></i></div>
    <div *ngIf="showResults" class="panel-group" id="purchaseOrdersList">
        <div style="float:left">
            <label>Total: {{total}}</label><br />
            <label for="ddlPageSize">Page Size:</label>
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                {{pageSize}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="top:auto">
                <li *ngFor="let count of counts">
                    <a href="javascript:;" (click)="setPageSize(count)">
                        {{count}}
                    </a>
                </li>
            </ul>
        </div>
        <div style="float:right;padding-top:20px">
            <i *ngIf="exportLoading" style="float:left;position:relative;top:7px;right:10px" class="dell-loading-image"></i>
            <button type="button" class="btn btn-info" (click)="exportToExcel()">
                Export to Excel
                <i class="glyphicon glyphicon-export" style="margin-left:5px"></i>
            </button>
        </div>
        <div class="pagerCtrl">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination no_selection" style="">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>
        <div class="panel panel-default" *ngFor="let purchaseOrderNum of purchaseOrderNums;let i = index">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#purchaseOrdersList"
                       (click)="loadPurchaseOrder(purchaseOrderNum)" href="#details-{{i}}">
                        PurchaseOrderNo: {{purchaseOrderNum}}
                    </a>
                </h4>
            </div>
            <div id="details-{{i}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <div *ngIf="purchaseOrders && purchaseOrders[0].PONumber == purchaseOrderNum">
                        <div *ngFor="let purchaseOrder of purchaseOrders">
                            <business-flow [po]="purchaseOrder" [disableDetails]="true"></business-flow>
                        </div>
                        <div>
                            <button type="button" class="btn" (click)="trackPO(purchaseOrderNum)">
                                Go to Tracking
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showNoResults" class="col-sm-3 alert alert-danger">
        No POs found
    </div>
</div>