<div>
    <div class="row" style="margin-left: -8px">
        <label>
            ThreadID:
            <a href="http://tools.dell.com/B2BToolsCE/UI/poviewer.html?env=P&PoNum={{po.PONumber}}&ThreadId={{po.ProfileID}}|{{po.ThreadID}}" target="_blank">
                {{po.ThreadID}}
            </a>
        </label><br />
        <div *ngFor="let step of po.lstOfSteps; let i = index">
            <div class="applicationStep" [ngStyle]="stepStyle">
                <!--<div *ngIf="i < purchaseOrder.Status.ApplicationStep" style="line-height:normal; width:90%;">
                    {{getStepTimestamp(i+1) | date:'MM/dd/yy h:mm:ss a'}}
                </div>-->
                <!--<div *ngIf="!(i < purchaseOrder.Status.ApplicationStep)"
                     style="line-height:normal; width:90%;">
                    &nbsp;
                </div>-->
                <button class="applicationStep" [ngClass]="setStatusColor(step.POStatus)" (click)="getAdditionalDetails(step.Name)"
                        [disabled]="disableDetails" data-toggle="tooltip" data-placement="bottom" [title]="getStepTooltip(step.POStatus)">
                    {{step.Name}}
                    <img *ngIf="getWarningStatus(i)" style="max-height: 50%;vertical-align:text-bottom" src="../../Assets/warning.png">
                </button>
                <!--<div class="applicationStep" *ngIf="isShipped(i)">
                    TTS (days): {{getTTS() | number : '1.2-2'}}
                </div>-->
                <div *ngIf="i != po.lstOfSteps.length - 1" style="font-weight: 900">></div>
            </div>
        </div><br />
    </div>
    <br />
    <!--<div *ngIf="purchaseOrder.Status.FailureText" [ngStyle]="repositionButtonsIfShipped()">
        <button type="button" class="btn" [ngStyle]="repositionButtonsIfShipped()"
                (click)="repostPO(purchaseOrderNum)">
            Repost PO
        </button>
        <button type="button" class="btn" [ngStyle]="repositionButtonsIfShipped()"
                (click)="getAdditionalDetails()">
            Find Additional Details
        </button>
        <br /><br />
    </div>-->
    <div class="row">
        <div class="col-sm-2">
            <div class="alert alert-success" *ngIf="poReposted">
                PO {{purchaseOrder.PurchaseOrderNo}} Reposted
            </div>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-sm-6">
            <div class="alert alert-info" *ngIf="additionalDetails">
                <div>PurchaseOrderNo: {{purchaseOrder.PurchaseOrderNo}}</div>
                <div>OrderAmount: {{purchaseOrder.OrderAmount | currency:'USD':true}}</div>
                <div>OrderDate: {{purchaseOrder.OrderDate}}</div>
                <div>CustomerNo: {{purchaseOrder.CustomerNo}}</div>
                <div>Status Details -</div>
                <div style="text-indent:40px">LastUpdateTS: {{purchaseOrder.Status.LastUpdateTS}}</div>
                <div style="text-indent:40px">
                    ApplicationStep: {{purchaseOrder.Status.ApplicationStep}}
                </div>
                <div style="text-indent:40px">
                    ApplicationStatus: {{purchaseOrder.Status.ApplicationStatus}}
                </div>
                <div *ngIf="purchaseOrder.Status.FailureText" style="text-indent:40px">
                    FailureText: {{purchaseOrder.Status.FailureText}}
                </div>
            </div>
        </div>
    </div>-->
    <div *ngIf="additionalDetails" class="panel-group" id="detailsPane">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse"
                       href="#details{{po.ThreadID}}">
                        Additional Details
                    </a>
                    <button style="background-color: Transparent;float:right" (click)="closeDetails()">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </h4>
            </div>
            <div id="details{{po.ThreadID}}" class="panel-collapse collapse in">
                <div class="panel-body">
                    <tree-node [node]="additionalDetails"></tree-node>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="alert alert-danger" *ngIf="noAdditionalDetails">
                No additional details found for {{stepName}}
            </div>
        </div>
    </div>
    <div *ngIf="trackingNumber">
        <tracking-info [trackingNumber]="trackingNumber"></tracking-info>
    </div>
</div>