<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <div style="margin-bottom:10px">
                    <div><label>Select Display:</label></div>
                    <div class="radio-inline" style="margin-left: 10px">
                        <label><input type="radio" name="optradio" (click)="setDisplay('browse')" />Browse PO</label>
                    </div>
                    <div class="radio-inline">
                        <label><input type="radio" name="optradio" (click)="setDisplay('customer')" checked />Search Customer</label>
                    </div>
                </div>
                <div class="panel-group" style="margin-bottom:10px">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" href="#filters">Filters</a>
                            </h4>
                        </div>
                        <div id="filters" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row" style="margin-bottom:10px">
                                    <div class="col-sm-10" style="margin-right:10px">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                            {{paramDisplay}}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" style="top:auto">
                                            <li *ngFor="let param of params">
                                                <a href="javascript:;" (click)="setParamName(param)">
                                                    {{param.DisplayName}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-2" style="margin-left:-10px">
                                        <button *ngIf="param && paramVal" type="button" class="btn btn-info"
                                                style="float:right" (click)="addFilterParam()">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group has-feedback">
                                        <p-calendar *ngIf="showCalender" inputStyleClass="calender form-control"
                                                    id="paramVal" [showTime]="true" [(ngModel)]="paramVal"></p-calendar>
                                        <input ng2-auto-complete *ngIf="showAutoComplete" id="paramVal" type="text"
                                               [(ngModel)]="paramVal" style="width:100%" (keyup.enter)="handleEnter()"
                                               class=" form-control ng-tns-c0-0 ui-inputtext ui-widget ui-state-default ui-corner-all"
                                               [source]="autocompleteSource.bind(this)" min-chars="1">
                                        <input *ngIf="!showCalender && !showAutoComplete" id="paramVal" type="text"
                                               [(ngModel)]="paramVal" style="width:100%" (keyup.enter)="handleEnter()"
                                               class="form-control ng-tns-c0-0 ui-inputtext ui-widget ui-state-default ui-corner-all">
                                        <span *ngIf="paramVal" (click)="clearFilter()" uib-tooltip="clear"
                                              class="glyphicon glyphicon-remove form-control-feedback"
                                              style="cursor: pointer; pointer-events: all;"></span>
                                    </div>
                                </div>
                                <div *ngIf="arrayOfKeys.length > 0">
                                    <br />
                                    <div *ngFor="let filter of arrayOfKeys">
                                        <div class="row" style="margin-bottom:2px">
                                            <div class="col-sm-12">
                                                <button type="button" class="btn btn-info"
                                                        (click)="removeFilterParam(filter)">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                                {{filters[filter].DisplayName + ": " + (filters[filter].DisplayName.toLowerCase().indexOf('date') != -1 ? (filters[filter].Value | date:'MM/dd/yy h:mm:ss a') : filters[filter].Value)}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-info" (click)="getPurchaseOrders()">
                        Search
                        <i class="glyphicon glyphicon-search" style="margin-left:5px"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div *ngIf="showResults">
                <div *ngIf="displayBrowse">
                    <browse-display [filters]="filters"></browse-display>
                </div>
                <div *ngIf="displayCustomer">
                    <customers-display [filters]="filters"></customers-display>
                </div>
            </div>
            <br />
            <div *ngIf="noDisplaySelected" class="col-sm-3 alert alert-danger display-results">
                Please select a display
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>