<div>
    <div *ngIf="resultsLoading" style="text-align: center"><br /><br /><i class="dell-loading-image"></i></div>
    <div *ngIf="showResults" id="purchaseOrdersList">
        <div style="float:left">
            <label>Total: {{total}}</label><br />
            <label for="ddlPageSize">Page Size:</label>
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                {{pageSize}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="top:auto">
                <li *ngFor="let count of counts">
                    <a href="javascript:;" (click)="setPageSize(count)">
                        {{count}}
                    </a>
                </li>
            </ul>
            <div class="checkbox">
                <label>
                    <input type="checkbox" [checked]="allowNullThreadID" (change)="updateNullThreadIDResults()">
                    Show Empty ThreadID Records
                </label>
            </div>
        </div>
        <div style="float:right;padding-top:25px">
            <i *ngIf="exportLoading" style="float:left;position:relative;top:7px;right:10px" class="dell-loading-image"></i>
            <button type="button" class="btn btn-info" (click)="exportToExcel()">
                Export to Excel
                <i class="glyphicon glyphicon-export" style="margin-left:5px"></i>
            </button>
        </div>
        <div class="pagerCtrl">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination no_selection">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)" style="z-index:initial">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>
        <table class="table table-striped" style="text-align:center">
            <thead>
                <tr>
                    <th style="text-align:center;">
                        <span style="cursor: pointer;" (click)="setSort('ProfileID')">
                            Profile ID
                            <span *ngIf="sortColumn == 'ProfileID'">
                                <i *ngIf="sortOrder == 'asc'" class="glyphicon glyphicon-triangle-bottom" style="margin-left:5px"></i>
                                <i *ngIf="sortOrder == 'desc'" class="glyphicon glyphicon-triangle-top" style="margin-left:5px"></i>
                            </span>
                        </span>
                    </th>
                    <th style="text-align:center;">
                        <span style="cursor: pointer;" (click)="setSort('PONumber')">
                            PO Number
                            <span *ngIf="sortColumn == 'PONumber'">
                                <i *ngIf="sortOrder == 'asc'" class="glyphicon glyphicon-triangle-bottom" style="margin-left:5px"></i>
                                <i *ngIf="sortOrder == 'desc'" class="glyphicon glyphicon-triangle-top" style="margin-left:5px"></i>
                            </span>
                        </span>
                    </th>
                    <th style="text-align:center;">
                        <span style="cursor: pointer;" (click)="setSort('ThreadID')">
                            Thread ID
                            <span *ngIf="sortColumn == 'ThreadID'">
                                <i *ngIf="sortOrder == 'asc'" class="glyphicon glyphicon-triangle-bottom" style="margin-left:5px"></i>
                                <i *ngIf="sortOrder == 'desc'" class="glyphicon glyphicon-triangle-top" style="margin-left:5px"></i>
                            </span>
                        </span>
                    </th>
                    <th *ngFor="let step of purchaseOrders[0].lstOfSteps" style="text-align:center">
                        {{step.Name}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let po of purchaseOrders; let i = index">
                    <td>{{po.ProfileID}}</td>
                    <td>
                        <a href="#/track/purchase-orders?poNum={{po.PONumber}}" target="_blank">
                            {{po.PONumber}}
                        </a>
                    </td>
                    <td><a href="http://tools.dell.com/B2BToolsCE/UI/poviewer.html?env=P&PoNum={{po.PONumber}}&ThreadId={{po.ProfileID}}|{{po.ThreadID}}" target="_blank">{{po.ThreadID}}</a></td>
                    <td *ngFor="let step of po.lstOfSteps" [ngClass]="setStatusColor(step.POStatus)">
                        {{getStepTooltip(step.POStatus)}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div *ngIf="showNoResults" class="col-sm-3 alert alert-danger">
        No POs found
    </div>
</div>