<div class="container-fluid" (mouseup)="togglePress(null, false)">
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group has-feedback">
                <label>New Suggestion:</label>
                <input id="newSuggestionTitle" type="text" [(ngModel)]="newTitle" placeholder="Enter Title"
                       class="form-control ng-tns-c0-0 ui-inputtext ui-widget ui-state-default ui-corner-all"
                       style="width:100%;background-color:aliceblue" />
                <span *ngIf="newTitle" (click)="clearTitle()" uib-tooltip="clear"
                      class="glyphicon glyphicon-remove form-control-feedback"
                      style="cursor: pointer; pointer-events: all;"></span>
            </div>
            <div class="form-group has-feedback">
                <textarea id="newSuggestionDesc" type="text" [(ngModel)]="newDescription" rows="3"
                          class="form-control ng-tns-c0-0 ui-inputtext ui-widget ui-state-default ui-corner-all"
                          placeholder="Enter Description" style="width:100%;background-color:aliceblue"></textarea>
                <span *ngIf="newDescription" (click)="clearDescription()" uib-tooltip="clear"
                      class="glyphicon glyphicon-remove form-control-feedback"
                      style="cursor: pointer; pointer-events: all;"></span>
                <br />
                <button type="button" class="btn btn-info" (click)="addSuggestion()">
                    Add
                    <i class="glyphicon glyphicon-plus" style="margin-left:5px"></i>
                </button>
            </div>
        </div>
        <div class="col-sm-8">
            <div *ngIf="resultsLoading" style="text-align: center"><br /><br /><i class="dell-loading-image"></i></div>
            <div style="float:left">
                <label>Total: {{total}}</label><br />
                <label for="ddlPageSize">Page Size:</label>
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    {{pageSize}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="top:auto">
                    <li *ngFor="let count of counts">
                        <a href="javascript:;" (click)="setPageSize(count)">
                            {{count}}
                        </a>
                    </li>
                </ul>
            </div>
            <div style="float:right;padding-top:25px">
                <div class="form-group has-feedback">
                    <input id="filterTitle" type="text" [(ngModel)]="filterTitle" placeholder="Filter Title"
                           class="form-control ng-tns-c0-0 ui-inputtext ui-widget ui-state-default ui-corner-all"
                           style="width:100%;" />
                    <span *ngIf="filterTitle" (click)="clearFilterTitle()" uib-tooltip="clear"
                          class="glyphicon glyphicon-remove form-control-feedback"
                          style="cursor: pointer; pointer-events: all;right:20px"></span>
                    <span uib-tooltip="clear" style="cursor: pointer; pointer-events: all;"
                          class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </div>
            <div class="pagerCtrl">
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination no_selection">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)" style="z-index:initial">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.totalPages)">Last</a>
                    </li>
                </ul>
            </div>
            <table class="table table-striped" style="text-align:center">
                <thead>
                    <tr>
                        <th style="text-align:center;width:15%">
                            <span style="cursor: pointer;" (click)="setSort('CreatedDate')">
                                Date
                                <span *ngIf="sortColumn == 'CreatedDate'">
                                    <i *ngIf="sortOrder == 'asc'" class="glyphicon glyphicon-triangle-bottom" style="margin-left:5px"></i>
                                    <i *ngIf="sortOrder == 'desc'" class="glyphicon glyphicon-triangle-top" style="margin-left:5px"></i>
                                </span>
                            </span>
                        </th>
                        <th style="text-align:center;">
                            <span style="cursor: pointer;" (click)="setSort('Title')">
                                Title
                                <span *ngIf="sortColumn == 'Title'">
                                    <i *ngIf="sortOrder == 'asc'" class="glyphicon glyphicon-triangle-bottom" style="margin-left:5px"></i>
                                    <i *ngIf="sortOrder == 'desc'" class="glyphicon glyphicon-triangle-top" style="margin-left:5px"></i>
                                </span>
                            </span>
                        </th>
                        <th style="text-align:center;width:10%">
                            <span style="cursor: pointer;" (click)="setSort('Upvotes')">
                                Upvotes
                                <span *ngIf="sortColumn == 'Upvotes'">
                                    <i *ngIf="sortOrder == 'asc'" class="glyphicon glyphicon-triangle-bottom" style="margin-left:5px"></i>
                                    <i *ngIf="sortOrder == 'desc'" class="glyphicon glyphicon-triangle-top" style="margin-left:5px"></i>
                                </span>
                            </span>
                        </th>
                        <th style="text-align:center;width:10%">
                            <span style="cursor: pointer;" (click)="setSort('Downvotes')">
                                Downvotes
                                <span *ngIf="sortColumn == 'Downvotes'">
                                    <i *ngIf="sortOrder == 'asc'" class="glyphicon glyphicon-triangle-bottom" style="margin-left:5px"></i>
                                    <i *ngIf="sortOrder == 'desc'" class="glyphicon glyphicon-triangle-top" style="margin-left:5px"></i>
                                </span>
                            </span>
                        </th>
                        <th style="text-align:center;width:10%">
                            <span style="cursor: pointer;" (click)="setSort('Approval')">
                                Approval Margin
                                <span *ngIf="sortColumn == 'Approval'">
                                    <i *ngIf="sortOrder == 'asc'" class="glyphicon glyphicon-triangle-bottom" style="margin-left:5px"></i>
                                    <i *ngIf="sortOrder == 'desc'" class="glyphicon glyphicon-triangle-top" style="margin-left:5px"></i>
                                </span>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of suggestions; let i = index">
                        <ng-template [ngIf]="getFilterValue(s.Title)">
                            <td>{{s.CreatedDate}}</td>
                            <td>
                                <a href="#/suggestion-detail?index={{i}}" target="_blank">
                                    {{s.Title}}
                                </a>
                            </td>
                            <td>
                                <button type="button" class="btn" [ngStyle]="getBackgroundColor(true, i)"
                                        onclick="this.blur();" (mousedown)="togglePress(true, true, i)"
                                        (click)="voteSuggestion(i, true)">
                                    {{s.Upvotes}}
                                    <span style="cursor: pointer;">
                                        <i class="glyphicon glyphicon-thumbs-up no_selection"
                                           style="margin-left:5px;top:2px"></i>
                                    </span>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn" [ngStyle]="getBackgroundColor(false, i)"
                                        onclick="this.blur();" (mousedown)="togglePress(false, true, i)"
                                        (click)="voteSuggestion(i, false)">
                                    {{s.Downvotes}}
                                    <span style="cursor: pointer;">
                                        <i class="glyphicon glyphicon-thumbs-down no_selection"
                                           style="margin-left:5px;top:2px"></i>
                                    </span>
                                </button>
                            </td>
                            <td [ngStyle]="getTextColor(s.ApprovalRate)">{{s.ApprovalRate | percent:'2.1-2'}}</td>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>